<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<style>
    h1 { 
      display: legacy;
      font-size: 2em;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }
</style>
<body>
    <hl style="text-align: left;">
        About John's Hello World
    </hl>
    <hr>This my first attempt at a webapp and this uses Python</hr>
    
</body>
</html>